footer {
  background-color: #D9D9D9;
  height: 417px;
}

footer > div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin-left: 80px;
  margin-right: 80px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer > div > img {
  width: 162px;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer > div > div {
  margin-top: 20px;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer > div >  div > label {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  color: #495E57;
}

footer > div >  div > ul {
  padding-left: 0;
}

footer > div >  div > ul > li {
  list-style-type: none; /* Remove bullets */
  font-family: 'Karla', sans-serif;
}